*{
    margin: 0;
    padding: 0;
  }
  .card{
    background-color: gray;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 16rem;
    border-radius: 1rem;
  }